#postList {
    border: 2px solid Blue;
}

.postClass {
    border: 1px solid Green;
    margin: 5px;
    margin-left: 15px;
}

button {
    margin: 5px;
}

.author {
    margin-left: 20px;
    font-size: .7em;
}

.title {
    margin-left: 10px;
    font-size: 1.2em;
}

.comment-thing {
    border: 1px solid #AAEEAA;
    margin: 5px;
    margin-left: 10px;
}

.msg {
    margin-left: 10px;
    font-size: .9em;
}
